.meeting-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.profile-button {
  z-index: 1;
  position: fixed;
  top: 25px;
  right: 25px;
  background-color: var(--chat-background);
  border: 2px solid var(--main-color);
  color: #ddd;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  transform-origin: center;
}

.profile-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-button:hover {
  box-shadow: var(--main-color) 0px 5px 15px;
}

.meeting-left {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.meeting-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meeting-content {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.meeting-btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.join-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-meeting {
  display: flex;
  align-items: center;
  width: 140px;
  margin-left: 20px;
  justify-items: end;
}

.btn-join {
  margin-left: 20px;
}

.btn-join:hover {
  background-color: #0056b3;
}

.help-text {
  font-size: 14px;
  color: #666;
}

.help-text a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.help-text a:hover {
  color: #0056b3;
}

.meeting-right img {
  max-width: 80%;
  border-radius: 8px;
}

/*===================Media Queries====================*/
@media screen and (max-width: 900px) {
  .meeting-page {
    flex-direction: column;
  }

  .meeting-right img {
    max-width: 40%;
  }
}
