.sign-in,
.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* Input text */
.input-group {
  position: relative;
  width: 320px;
  margin: 10px 0;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--font-color);
  padding: 0 5px;
  pointer-events: none;
  transition: 0.5s;
}

.input-group input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
  background: transparent;
  border: 1px solid var(--message-text);
  outline: none;
  border-radius: 5px;
  color: var(--font-color);
}
/* Input label color */
.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: 0;
  font-size: 12px;
  background: var(--app-background);
}

.forgot-pass {
  margin: 15px 0 15px;
}
/* Forgot password text */
.forgot-pass a {
  color: var(--message-text);
  font-size: 14px;
  text-decoration: none;
}

.forgot-pass a:hover {
  text-decoration: underline;
}

.sign-link {
  font-size: 14px;
  text-align: center;
  margin: 25px 0;
}
/* Sign link text */
.sign-link p {
  color: var(--message-text);
}

.sign-link p a {
  color: #4592af;
  text-decoration: none;
  font-weight: 600;
}

.sign-link p a:hover {
  text-decoration: underline;
}
